.bg-box{
    height:700px      ;
    background-color: green;
    background-image: url(./pages/green-png-44873.png), url(./pages/lamp-png-34914.png), url(./pages/ponchik.png), url(./pages/ezhik.webp), url(./pages/dom.jpg) ;
    background-size: 200px, 50px ,70px, 70px, 360px;
    background-position: bottom, top, right, left ,center;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y, no-repeat;
}